<div class="w-fit bg-{{ value ? 'green' : 'red' }}-200 text-{{ value ? 'green' : 'red' }}-800 text-xs px-2 py-1 rounded font-semibold">
    {{ value ? (labelTrue is not null ? labelTrue|raw: 'Oui') : (labelFalse is not null ? labelFalse|raw: 'Non') }}
</div>