{% block breadcrumb %}
    {% if items is defined %}
        <ol class="flex items-center whitespace-nowrap min-w-0 my-10 flex-wrap" aria-label="Breadcrumb">
            {% for item in items %}
                {% if item is not empty %}
                    <li class="text-sm" {% if loop.last %}aria-current="page"{% endif %}>
                        {% if loop.last %}
                            {{ item.label|raw }}
                        {% else %}
                            <a class="flex items-center text-gray-500 hover:text-inherit" href="{{ item.path }}">
                                {{ item.label|raw }}
                                <div class="flex-shrink-0 mx-3 overflow-visible h-2.5 w-2.5 text-gray-400 svg-full">

                                </div>
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
