{% extends '_layout/admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block breadcrumb %}
    {{ component('breadcrumb', {items: [
        {path: path('admin_dashboard'), label: 'Accueil'},
        {path: null, label: block('title')},
    ]}) }}
{% endblock %}

{% block body %}
    {% component table_list with {
        headerTitle: block('title'),
        tableColumns: [
            knp_pagination_sortable(pagination, 'Nom', 'u.firstname'),
            knp_pagination_sortable(pagination, 'Email', 'u.email'),
            knp_pagination_sortable(pagination, 'Statut', 'u.blocked'),
            ''
        ],
        pagination: pagination,
        emptyText: 'Essayez d\'ajouter un nouvel utilisateur.',
    } %}
        {% block header_actions %}
            <div class="flex gap-4 items-center">
                {% if is_granted('admin_user_export') %}
                    {{ component('button_link', {
                        link: path('admin_user_export', {q: app.request.query.get('q')}),
                        label: 'Exporter',
                        color: themeColor,
                        mode: 'ghost',
                        icon: source('@SFToolbox/icons/download.svg'),
                    }) }}
                {% endif %}

                {% if is_granted('admin_user_add') %}
                    {{ component('button_link', {
                        link: path('admin_user_add'),
                        label: 'Ajouter',
                        color: themeColor,
                        icon: source('@SFToolbox/icons/plus.svg')
                    }) }}
                {% endif %}
            </div>
        {% endblock %}

        {% block table_item %}
            {{ block('item', 'areas/admin/user/_list_item.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}