{% extends '_layout/admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block breadcrumb %}
    {{ component('breadcrumb', {items: [
        {path: path('admin_dashboard'), label: 'Accueil'},
        {path: null, label: block('title')},
    ]}) }}
{% endblock %}

{% block body %}
        {# TODO: Remplacer par component
    {% embed '_shared/_layout/listing.html.twig' with {
        title: block('title'),
        pagination: pagination,
        emptyText: 'Essayez d\'ajouter un nouvel utilisateur.',
        columns: [
            knp_pagination_sortable(pagination, 'Nom', 'u.firstname'),
            knp_pagination_sortable(pagination, 'Email', 'u.email'),
            knp_pagination_sortable(pagination, 'Statut', 'u.blocked'),
            ''
        ]
    } %}
        {% block actions %}
            <div class="flex gap-4 items-center">
                {{ component('button_action', {
                    permission: is_granted('admin_user_export'),
                    path: path('admin_user_export'),
                    class: 'py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-teal-500 text-white hover:bg-teal-600 transition-all text-sm',
                    labelAfter: 'Exporter',
                    icon: source('@icons/download.svg'),
                }) }}

                {{ component('button_action', {
                    permission: is_granted('admin_user_add'),
                    path: path('admin_user_add'),
                    class: 'py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-teal-500 text-white hover:bg-teal-600 transition-all text-sm',
                    labelAfter: 'Ajouter',
                    icon: source('@icons/plus.svg'),
                }) }}
            </div>
        {% endblock %}

        {% block itemRender %}
            {{ block('item', 'areas/admin/user/_list_item.html.twig') }}
        {% endblock %}
    {% endembed %}
    #}
{% endblock %}