parameters:
  level: 9
  paths:
    - src
  excludePaths:
    - src/Migrations/*
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  checkGenericClassInNonGenericObjectType: false