parameters:
  level: 9
  paths:
    - src
  excludePaths:
    - src/Migrations/*
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
