@import "tailwindcss";

/* Preline UI */
@import '../../../node_modules/preline/variants.css';

@import "../../../vendor/appolodev/sf-toolbox/assets/css/app.css";

@theme {
    --color-appolo-50: oklch(97.65% 0.0165 162.76);
    --color-appolo-100: oklch(93.65% 0.0587 151.88);
    --color-appolo-200: oklch(88.46% 0.1055 154.52);
    --color-appolo-300: oklch(77.49% 0.1274 156.51);
    --color-appolo-400: oklch(62.66% 0.1147 159.4);
    --color-appolo-500: oklch(42.31% 0.0847 162.67);
    --color-appolo-600: oklch(38.25% 0.0716 168.55);
    --color-appolo-700: oklch(34.11% 0.0589 177.71);
    --color-appolo-800: oklch(29.76% 0.0489 186.39);
    --color-appolo-900: oklch(26.33% 0.0424 197.41);
}

/* Plugins */
@plugin "@tailwindcss/forms";

@source "../../../templates/**/*.twig";
@source "../../../node_modules/preline/dist/*.js";
@source "../../../vendor/appolodev/sf-toolbox/templates/**/*.twig";
@source "./tailwind-safelist.txt";

