.toggle-password-container {
    position: relative;
}

.toggle-password-container input {
    padding-right: calc(96px + .5rem) !important;
}

.toggle-password-container .toggle-password-button {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 8px;
}

.toggle-password-container .toggle-password-button svg {
    width: 20px;
    height: 20px;
}
