@import "tom-select/dist/css/tom-select.css";

.ts-wrapper {
    @apply w-full ml-0;

    &.tomselect {
        @apply p-0 border-0;
    }

    &.single {
        &.input-active {
            .ts-control {
                @apply bg-white;
            }
        }
    }

    &.multi {
        .ts-control {
            > div {
                @apply text-blue-700 bg-blue-50 rounded;
            }
        }
    }

    &.plugin-checkbox_options {
        .option input {
            @apply w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300;
        }
    }
}

.ts-control {
    border-color: transparent;

    @apply
    w-full
    leading-5
    relative
    py-2
    px-4
    rounded
    bg-white
    text-stone-800
    focus:outline-none
    focus:border-stone-400
    focus:ring-0
    border
    border-stone-200;

    .full &, .input-active & {
        @apply bg-white;
    }

    .input-active & {
        @apply bg-white;
    }

    padding-right: 1rem !important;
    font-size: 16px !important;

    .items-count {
        @apply px-[6px] py-[2px] text-gray-800 bg-gray-200 mb-[3px] rounded;
    }
}

.ts-control > input {
    @apply truncate text-stone-800;

    font-size: 16px !important;
}

.ts-dropdown {
    @apply rounded-md border border-solid border-t border-gray-300 text-base;

    .optgroup-header {
        @apply text-sm text-gray-500 border-b border-gray-300 bg-gray-50;
    }

    [data-selectable]{
        &.option {
            @apply flex items-center;
        }
    }
}

.ts-dropdown .create:hover, .ts-dropdown .option:hover {
    @apply text-blue-700 bg-blue-50;
}

.ts-dropdown .active {
    @apply text-blue-700 bg-blue-50;
}

