{% extends '@SFToolbox/layouts/navbar.html.twig' %}

{% block navbar_menu %}
    {% if is_granted('admin_user_list') %}
        <a class="font-medium text-white sm:py-6" href="{{ path('admin_user_list') }}"
           aria-current="page">Utilisateurs</a>
    {% endif %}
{% endblock %}