{% extends '@SFToolbox/layouts/navbar.html.twig' %}

{% block navbar_menu %}
    <div class="sm:py-4">
        {{ component('button_link', {
            allowDisplay: is_granted('admin_user_list'),
            link:  path('admin_user_list'),
            label:  'Utilisateurs',
            mode: 'solid',
            color: themeColor
        }) }}
    </div>
{% endblock %}