{# TODO:Remplacer par maizzle ? #}
<html>
<head>
    <style>
        html, body {
            padding: 0;
            margin: 0;
        }

        a {
            color: rgb(30 64 175);
        }
    </style>
</head>
<body>
<div style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 15px; color: #181C32; min-height: 100%; margin:0; padding:0; width:100%; background-color:#f9fafb">
    <br>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
           style="border-collapse:collapse;margin:0 auto; padding:0; max-width:600px">
        <tbody>
        <tr>
            <td align="center" valign="center" style="text-align:center; padding: 40px">
                <a href="{{ url('auth_login') }}" rel="noopener" target="_blank">
                    <img src="cid:logo" alt="Logo">
                </a></td>
        </tr>
        <tr>
            <td align="left" valign="center">
                <div style="text-align:left; margin: 0 20px; padding: 40px; background-color:#ffffff; border-radius: 6px">
                    {% block body %}{% endblock %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>